In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('book.csv',encoding='ISO-8859-1',index_col=0)
df.rename(columns={'User.ID':'user_id','Book.Title':'book_title','Book.Rating':'book_rating'},inplace=True)
df.head(5)

   user_id                                         book_title  book_rating
1   276726                                Classical Mythology            5
2   276729                                       Clara Callan            3
3   276729                               Decision in Normandy            6
4   276736  Flu: The Story of the Great Influenza Pandemic...            8
5   276737                             The Mummies of Urumchi            6

In [ ]:
df.shape

(10000, 3)

In [ ]:
# movie_mat = df.pivot_table(index='user_id',columns='book_title',values='book_rating')
# movie_mat.head(-1)

In [ ]:
df['book_title'][1]

'Classical Mythology'

In [ ]:
df[df['book_title'] == 'Fahrenheit 451']['book_rating']

180      2
2231     7
5590    10
7990     8
8192     8
Name: book_rating, dtype: int64

In [ ]:
df['book_title'].value_counts()

Fahrenheit 451                                              5
Charlie and the Chocolate Factory                           4
The Subtle Knife (His Dark Materials, Book 2)               4
Vanished                                                    4
Ender's Game (Ender Wiggins Saga (Paperback))               4
                                                           ..
Murder on St. Mark's Place (Gaslight Mysteries)             1
State of Grace                                              1
Valsalva's Maneuver: Mots Justes and Indispensable Terms    1
I love you, I hate you                                      1
Kids Say the Darndest Things                                1
Name: book_title, Length: 9659, dtype: int64

In [ ]:
# df['rating_count'] = df.groupby('book_title')['book_rating'].transform('sum')
# df
# # df = df[df[xg] == True]
# # df
df['user_id'].value_counts() > 100

3757       True
162052     True
2276       True
4017       True
277427     True
          ...
969       False
967       False
965       False
951       False
162129    False
Name: user_id, Length: 2182, dtype: bool

In [ ]:
# to know how many user has read more than 200 books
x =  df['user_id'].value_counts() > 100
y = x[x].index

users = df[df['user_id'].isin(y)]

In [ ]:
users

      user_id                                         book_title  book_rating
673    277427                                          Dark Lady           10
674    277427                                 The Future Scrolls            8
675    277427                                         About Face           10
676    277427      Tarot Says Beware (A Herculeah Jones Mystery)            7
677    277427                                         Globalhead            9
...       ...                                                ...          ...
9965   162052                         Ali and Nino: A Love Story            5
9966   162052  Objects in Mirror Are Closer Than They Appear ...            7
9967   162052                                            Ragtime            9
9968   162052                            The Man Who Ate the 747           10
9969   162052                                   Women of Mystery           10

[1607 rows x 3 columns]

In [ ]:
book_pivot = users.pivot_table(columns='book_title', index='user_id', values="book_rating")
book_pivot.fillna(0, inplace=True)
book_pivot

book_title,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,"1,401 More Things That P*Ss Me Off",101 Wacky Computer Jokes,11 Edward Street,253,2nd Chance,3 Bowls : Vegetarian Recipes from an American Zen Buddhist Monastery,"3 Plays: Our Town, the Skin of Our Teeth, the Matchmaker (Perennial Classics)",30: Pieces of a Novel,66 Laps: A Novel,...,Your Blue-Eyed Boy : A Novel,"Your First Year in Network Marketing: Overcome Your Fears, Experience Success, and Achieve Your Dreams!",Your Friendship Means the World to Me (Sandra Magsamen),Your Isadora: The Love Story of Isadora Duncan &amp; Gordon Craig,Your Mouth Is Lovely : A Novel,Your Name Is Renee: Ruth Kapp Hartz's Story As a Hidden Child in Nazi-Occupied France,Zen Meditations on Being a Mother (Zen Meditations),"\More More More,\ Said the Baby","\Well, there's your problem\: Cartoons",Ã?Â?bermorgen.
user_id,,,,,,,,,,,,,,,,,,,,,
2033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,8.0,0.0,10.0,0.0,0.0,10.0,0.0,9.0,0.0
2276,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3757,7.0,0.0,0.0,6.0,0.0,0.0,7.0,0.0,0.0,7.0,...,0.0,0.0,7.0,0.0,0.0,8.0,0.0,7.0,0.0,4.0
4017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162052,0.0,10.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,...,10.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0
277427,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278418,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
book_pivot.columns

Int64Index([2033, 2110, 2276, 3757, 4017, 162052, 277427, 278418], dtype='int64', name='user_id')

In [ ]:
user_rating = book_pivot['11 Edward Street']

In [ ]:
similar_to_edward = book_pivot.corrwith(user_rating)
similar_to_edward
recommended = pd.DataFrame(similar_to_edward,columns = ['correlation'])

In [ ]:
recommended.sort_values('correlation',ascending=False).head(30)

                                                    correlation
book_title
...AND THE HORSE HE RODE IN ON : THE PEOPLE V. ...          1.0
My House Has Two Doors                                      1.0
Making the Most of Your Money                               1.0
Male Animal (Silhouette Romance, No 1025)                   1.0
Many Stones                                                 1.0
Martha Stewart's Healthy Quick Cook: Four Seaso...          1.0
Mary Tudor: A Life                                          1.0
Mathematics and the Imagination                             1.0
Medical Books of Remedies for People over 40                1.0
Memoirs                                                     1.0
Memoirs of an Ex-Prom Queen                                 1.0
Meteor Monsters (Masters of the Universe Super ...          1.0
Midnight Sun                                                1.0
Midnight Voices                                             1.0
Mirror, Mirror on the Wall: Women Writers Explo...          1.0
Mistral's Daughter                                          1.0
Monday'S Child (Bestselling Author) (Harlequin ...          1.0
Morrie: In His Own Words                                    1.0
Mr. Commitment                                              1.0
Mr. Maybe                                                   1.0
Mrs Keppel and Her Daughter                                 1.0
Mrs. Kimble : A Novel                                       1.0
Murder by Numbers: British Serial Sex Killers S...          1.0
Magic for Marigold                                          1.0
Maestro: Greenspan's Fed And The American Boom              1.0
Lullaby and Good Night                                      1.0
Lent and Eastertide (In Conversation with God, ...          1.0
Kristin Lavransdatter: The Bridal Wreath (Krist...          1.0
Kristin Lavransdatter: The Mistress of Husaby (...          1.0
Kristy and the Secret of Susan (Baby-Sitters Cl...          1.0

In [ ]:
book_pivot1 = users.pivot_table(columns='user_id', index='book_title', values="book_rating")
book_pivot1.fillna(0, inplace=True)
# book_pivot1.index

In [ ]:
book_pivot1.index[book_pivot1.index=='11 Edward Street'].tolist()

['11 Edward Street']

In [ ]:
from scipy.sparse import csr_matrix
book_sparse = csr_matrix(book_pivot1)

In [ ]:
from sklearn.neighbors import NearestNeighbors

classifier =NearestNeighbors(n_neighbors=5,algorithm='brute')
classifier.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [ ]:
dis,recommend_book = classifier.kneighbors(book_pivot1.loc['11 Edward Street',:].values.reshape(1,-1))

In [ ]:
for i in range(len(recommend_book)):
  print(book_pivot1.index[recommend_book[i]])

Index(['Boulevard', 'Isabel's Bed',
       'Intervention: How to Help Someone Who Doesn't Want Help : A Step-By-Step Guide for Families of Chemically Dependent Persons',
       'Out of Africa ; and, Shadows on the grass',
       'The Trouble With Catherine'],
      dtype='object', name='book_title')